body {
    width: 95vw;
    height: 95vh;

    margin: auto;
}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule-input {
    width: 100%;
    height: 20%;
}

.schedule-date {}

.calender {
    width: 100%;
    height: 80%;
}

.calender-month {
    display: flex;
    justify-content: space-around;
}

.calender-select {}

.calender-table {
    width: 95%;
    height: 90%;

    table-layout: fixed;
    border-collapse: collapse;
}

.weekday {}

.calender-table tbody tr{
  height: calc(100% / 6);            /* 6週で均等割り → 高さ統一 */
}

.side {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-area {
    width: 100%;
    height: auto;
}

.schedule {
    width: 100%;
    height: auto;

    overflow-y: auto;
}

.schedule-day {}