body {
    width: 95vw;
    height: 95vh;

    margin: 0 auto
}

.header {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    width: 100%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule-input {
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: start;
    align-items: center;
}

.schedule-input-schedule {
    width: 100%;
    height: 40%;
}

.scheduke-input-date {
    width: 100%;
    height: 30%;
}

.schedule-input-addCalender {
    width: 100%;
    height: 30%;
}

.calender {
    width: 100%;
    height: 70%;
}

.calender-tub {
    width: 100%;
    height: 15%;
}

.month {
    width: 100%;
    height: 15%;
}


.today {
    border-color: blue;
    background-color: rgba(0, 0, 255, 0.05);
}

.schedule {
    width: 30%;
    height: 100%;

    overflow: auto;
}

.schedule-date {
    width: 100%;
    height: 20%;
}